# Build and Release Folders
bin-debug/
bin-release/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Medias
*.mp4
*.avi
*.MOV
*.rmvb
*.mkv
*.rm
*.wmv
*.flv

# Special files
my_app/images/icons/
my_app/iconList.txt
Generator/.vs