
html {
	height: 100%;
}

body
{
    font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 12px;
    margin: 0 0;
    /* background-image: url(../images/background.png); */
    height: 100%;
}

img
{
    border: 0px;
}


#app
{
    float: left;
    text-align: center;
    margin: -15px 0 0 -30px;
    list-style: none;
}

#app a
{
    text-decoration: none;
    border: solid 1px transparent;
    display: block;
    padding: 3px;
    margin: 20px 0 0 0;
    color: #ffffff;
    text-shadow: 0.2em 0.1em 0.3em #000000;
}

#app a:hover
{
    border: solid 1px #bbd6ec;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px #fff;
    background-color: #5caae8;
}

#app img
{
    width: 64px;
    height: 64px;
}

#app div
{
    width: 64px;
    height: 64px;
}

#background {    
    position:fixed;    
    min-width: 100%;    
    min-height: 100%;   
    width: auto;    
    height: auto;    
    top: 50%;    
    left: 50%;    
    transform: translateX(-50%) translateY(-50%);    
    -webkit-transform: translateX(-50%) translateY(-50%);   
     z-index: -100;
    
}

#app li {
    width : 75px;
}